
@media (max-width:700px) {
    .first-row{
        flex-direction: column;
        gap: 8px;
    }
    .cat-links{
        flex-direction: column;
        gap: 10px;
    }
    .row{
        flex-direction: column;
        gap: 20px;
    }
    .card{
        width: 60%;
        margin: auto;
    }
    .card img{
        width: 100%;
        height: 100%;
    }
    .sub-nav {
        width: 100%;
    }

    .sub-nav a {
        font-size: 12px;
        font-weight: bold;
    }

    .text-box-2 h4 {
        font-size: calc(100% - 1px);
    }
    body {
        overflow-x: hidden!important;
    }
    .nav-bar{
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 20px 0px;
    }
    .logo{
        width: 50%;
        justify-content: left;
        line-height: 5px;
    }
    .logo{
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .sc-icon i{
        margin-right: 20px;
    }
    .links-area{
        width: 100%;
        flex-direction: column;
        position: absolute;
        left: 0%;
        z-index: 12;
        top: -100%;
        background-color: rgb(31, 35, 39);
        height: 100vh;
    }
    .nav-links{
        flex-direction: column;
        text-align: center;
        width: 100%;
        position: absolute;
        z-index: 12;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .user-area{
        width: 100%;
        text-align: center;
        position: absolute;
        z-index: 12;
        bottom: 10%;
        left: 0%;
    }
    .sc-icon{
        width: 50%;
        text-align: right;
    }
    .sc-icon i{
        color: white;
    }
    #open{
        display: block;
    }
    #close{
        display: block;
        position: absolute;
        top: 8%;
        right: 5%;
        font-size: 35px;
        color: white;
    }
    .box-row{
        flex-direction: column;
    }
    .wl{
        border: none;
        width: 100%;
    }
    .first-row{
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        width: 80%;
        gap: 10px;
    }
}