* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: rgb(3, 3, 46) rgb(255, 255, 255);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(48, 1, 45);
  border-radius: 30px;
  border: 3px solid rgb(255, 255, 255);
}
body {
  overflow-x: hidden!important;
  background-color: rgb(31, 35, 39);
  position: relative;
}
svg{
  fill: white;
}
.nav-bar {
  display: flex;
  padding: 15px;
  width: 100%;
  align-items: center;
  background-color: rgb(31, 35, 39);
}

.nav-bar a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
}

.nav-bar li {
  list-style: none;
}

.logo {
  position: relative;
  width: 20%;
  display: flex;
  justify-content: center;
}
.logo i{
  font-size: 30px;
  color: white;
}
.links-area {
  width: 80%;
  display: flex;
  transition: 0.5s ease-in-out;
}

.nav-links {
  display: flex;
  width: 70%;
  line-height: 40px;
  justify-content: space-evenly;
}
.user-area {
  display: flex;
  width: 20%;
  justify-content: space-around;
}
.user-area .drop-down span{
  line-height: 40px;
}

/* SEARCH */
.drop-down {
  position: relative;
  z-index: 4;
  text-align: center;
}

.drop-down span {
  color: white;
}

.dropdown_content_search {
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  top: 150%;
  left: 30%;
  right: 10%;
  transform: translate(-50%);
  min-width: 180px;
  transition: 0.5s;
  overflow: hidden;
}

.dropdown_content_search input[type=search] {
  border-radius: 20px;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  border: none;
}

.drop-down:hover .dropdown_content_search {
  visibility: visible;
  opacity: 1;
}

/* SEARCH END */
.set-pad {
  margin-right: 10px;
}

.user-area a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding-left: 20px;
}

/* LOGIN */
.drop-down {
  position: relative;
  z-index: 4;
  text-align: center;
}

.drop-down button {
  background: transparent;
  border: none;
}

.drop-btn {
  background-color: transparent;
  color: rgb(0, 0, 0);
  text-align: center;
  border: none;
}

.drop-btn a {
  text-align: center;
}

.drop-btn a:hover {
  color: rgb(0, 0, 0);
}

.dropdown_content {
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  top: 100%;
  left: 30%;
  right: 10%;
  transform: translate(-50%);
  background-color: #cccccc;
  min-width: 180px;
  min-height: 200px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  overflow: hidden;
}

.dropdown_content h5 {
  color: black;
  letter-spacing: 6px;
  font-weight: bolder;
}

.dropdown_content a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 10px;
}

.dropdown_content a:hover {
  background-color: rgb(10, 0, 0);
  color: white;
}

.drop-down:hover .dropdown_content {
  visibility: visible;
  opacity: 1;
}

.drop-down:hover .drop-btn {
  background-color: transparent;
}

/* LOGIN END */
.credentials {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.form-btn {
  padding: 10px;
}

.credentials input[type=password] {
  border: none;
  padding: 2px;
  border-radius: 4px;
}

.credentials input[type=email] {
  border: none;
  padding: 2px;
  border-radius: 4px;
}

.form-btn button {
  padding: 5px;
  margin: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  background: white;
}

.sc-icon i {
  font-size: 35px;
}
#close{
  display: none;
}
/* Cart */
.dropdown {
  position: relative;
  z-index: 4;
}

.dropbtn {
  background-color: transparent;
  color: white;
  border: none;
}

.dropbtn a {
  text-align: center;
}

.dropbtn a:hover {
  color: rgb(0, 0, 0);
}

.dropdown-content {
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%);
  background-color: #ffffff;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.dropdown-content h6 {
  font-size: 11px;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 10px;
}

.dropdown-content a:hover {
  background-color: rgb(10, 0, 0);
  color: white;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}
#open{
  display: none;
}
.main-text {
  width: 100%;
  height: 100vh;
  background-image: url(bg.jpg);
  background-size: cover;
  position: relative;

}

.text-box {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}

#fly-in {
  font-size: 4em;
  margin: 40vh auto;
  height: 20vh;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  transition: 1s;
  cursor: pointer;

}

#fly-in span {
  display: block;
  font-size: .4em;
  opacity: 1;
}

#fly-in div {
  position: fixed;
  margin: 2vh 0;
  opacity: 0;
  left: 20vw;
  width: 80vw;
  animation: switch 32s linear infinite;
}

#fly-in div:nth-child(2) {
  animation-delay: 4s
}

#fly-in div:nth-child(3) {
  animation-delay: 8s
}

#fly-in div:nth-child(4) {
  animation-delay: 12s
}

#fly-in div:nth-child(5) {
  animation-delay: 16s
}

#fly-in div:nth-child(6) {
  animation-delay: 20s
}

#fly-in div:nth-child(7) {
  animation-delay: 24s
}

#fly-in div:nth-child(8) {
  animation-delay: 28s
}

@keyframes switch {
  0% {
    opacity: 0;
    filter: blur(20px);
    transform: scale(12)
  }

  3% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1)
  }

  10% {
    opacity: 1;
    filter: blur(0);
    transform: scale(0.9)
  }

  13% {
    opacity: 0;
    filter: blur(50px);
    transform: scale(0)
  }

  80% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

.links-box {
  width: 100%;
  height: 100vh;
  position: relative;
}

.box-row {
  width: 100%;
  position: relative;
  height: 50%;
  display: flex;
}

.ocean-box {
  width: 50%;
  height: 100%;
  transition: 0.2s;
  border-right: 1px solid white;
  position: relative;
  color: rgb(0, 7, 66);
}

.ocean-box span {
  color: rgb(0, 7, 66);
  background-color: white;
}

.ocean-box:hover {
  background-color: rgb(0, 7, 66);
  color: white;
}

.tree-box {
  width: 50%;
  height: 100%;
  transition: 0.2s;
  position: relative;
}

.tree-box span {
  color: rgb(0, 71, 32);
  background-color: white;
}

.tree-box:hover {
  background-color: rgb(0, 71, 32);
  color: white;
}

.charity-box {
  width: 50%;
  position: relative;
  height: 100%;
  border-right: 1px solid white;
  border-top: 1px solid white;
  transition: 0.2s;
}

.charity-box span {
  color: rgb(122, 82, 35);
  background-color: white;
}

.charity-box:hover {
  background-color: rgb(122, 82, 35);
  color: white;
}

.store-box {
  width: 50%;
  position: relative;
  height: 100%;
  transition: 0.2s;
  border-top: 1px solid white;
}

.store-box span {
  color: rgb(36, 10, 9);
  background-color: white;
}

.store-box:hover {
  background-color: rgb(36, 10, 9);
  color: white;
}

.links-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 10px 0px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

footer {
  position: relative;
  width: 100%;
  background: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;

}

footer a {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  letter-spacing: 3px;
  transition: 0.5s;
}

footer a:hover {
  text-decoration: none;
  color: white;
}

footer li {
  list-style: none;
}

.subscribe-box {
  background-color: rgb(31, 35, 39);
  width: 100%;
  height: 100%;
}

.subs h2 {
  text-align: center;
  color: white;
  letter-spacing: 3px;
}

.subs h6 {
  color: white;
  text-align: center;
  letter-spacing: 1px;
}

.subs-input {
  display: flex;
  justify-content: center;
}

.subs-input input[type=text] {
  padding: 10px;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.295);
}

.subs-input button {
  padding: 10px;
  border: none;
  background-color: red;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.webmap-box {
  background-color: rgb(31, 35, 39);
  width: 100%;
  height: 100%;
}

.first-row {
  padding: 20px;
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: space-around;
}

.first-row a {
  text-decoration: none;
}

.webmap-box .ocean {
  color: rgb(70, 227, 238);
}

.webmap-box .tree {
  color: rgb(79, 223, 134);
}

.webmap-box .charity {
  color: rgb(255, 204, 146);
}

.webmap-box .store {
  color: rgb(255, 172, 172);
}

.third-row {
  position: absolute;
  right: 0;
  top: 0;
}

.social-links {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  margin: auto;
  justify-content: space-around;
}

.social-links a {
  padding-right: 10px;
  font-size: 20px;
}

.rights-p {
  background-color: rgb(31, 35, 39);
  padding: 5px;
  border-top: 1px solid rgba(124, 124, 124, 0.274);
  display: flex;
  color: white;
  justify-content: center;
  letter-spacing: 3px;
  font-size: 10px;
  font-weight: 600;
}

/*  MEDIA QUERIES */
@media screen and (max-width: 768px) {
  body {
      overflow-x: hidden!important;
  }
  .nav-bar{
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding: 20px 0px;
  }
  .logo{
      width: 50%;
      justify-content: left;
  }
  .logo{
      margin-left: 10px;
  }
  .sc-icon{
      margin-right: 20px;
  }
  .links-area{
      width: 100%;
      flex-direction: column;
      position: absolute;
      left: 0%;
      z-index: 12;
      top: -100%;
      background-color: rgb(31, 35, 39);
      height: 100vh;
  }
  .nav-links{
      flex-direction: column;
      text-align: center;
      width: 100%;
      position: absolute;
      z-index: 12;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
  }
  .user-area{
      width: 100%;
      text-align: center;
      position: absolute;
      z-index: 12;
      bottom: 10%;
      left: 0%;
  }
  .sc-icon{
      width: 50%;
      text-align: right;
  }
  .sc-icon i{
      color: white;
  }
  #open{
      display: block;
  }
  #close{
      display: block;
      position: absolute;
      top: 8%;
      right: 5%;
      font-size: 35px;
      color: white;
  }
  #fly-in{
      font-size: 38px;
  }
  .box-row{
      flex-direction: column;
  }
  .wl{
      border: none;
      width: 100%;
  }
  .first-row{
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      width: 80%;
      gap: 10px;
  }
}